@using WebProjectAzure.Azure;
@model IEnumerable<WebProjectAzure.Models.AbonnementModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @*<button type="button" asp-action="Create" class="btn btn-primary">Create New</button>*@
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TarifMensuel)
            </th>
            <th>
                Virtual Machine Status
            </th>
            <th>
                Virtual Machine Action
            </th>
            <th>
                Subscription Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateDebut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TarifMensuel)
                </td>
                <td>
                    @Html.DisplayName(@AzureManager.Instance.GetState(item.IdVm))
                </td>
                <td>
                    @if (@AzureManager.Instance.GetState(item.IdVm) == "RUNNING")
                    {
                        <form asp-action="StopVm">
                            <input type="hidden" name="idVm" value="@item.IdVm" />
                            <input type="submit" value="STOP" class="btn btn-danger" />
                        </form>
                    }
                    else if (@AzureManager.Instance.GetState(item.IdVm) == "STOPPED")
                    {
                        <form asp-action="StartVm">
                            <input type="hidden" name="idVm" value="@item.IdVm" />
                            <input type="submit" value="START" class="btn btn-success" />
                        </form>
                    }
                    else
                    {
                        <span>wait...</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
