@model IEnumerable<WebProjectAzure.Models.AbonnementModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <form class="form-inline">
        <button asp-action="Create" type="submit" class="nav-link btn btn-primary text-light">Create new</button>
    </form>
</p>
<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TarifMensuel)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["MailSortParm"]">@Html.DisplayNameFor(model => model.Mail)</a>
            </th>
            <th>
                Subscription Action
            </th>
            <th>
                VM Status
            </th>
            <th>
                VM Start
            </th>
            <th>
                VM Stop
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateDebut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TarifMensuel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td class="d-flex">
                    <div class="row">
                        <form class="col-4" asp-action="Edit" asp-route-id="@item.Id">
                            <button type="submit" class="nav-link btn btn-link text-light">
                                <img src="~/edit.svg" width="20px" height="20px">
                            </button>
                        </form>
                        <form class="col-4" asp-action="Details" asp-route-id="@item.Id">
                            <button type="submit" class="nav-link btn btn-link text-light">
                                <img src="~/info.svg" width="20px" height="20px">
                            </button>
                        </form>
                        <form class="col-4" asp-action="Delete" asp-route-id="@item.Id">
                            <button type="submit" class="nav-link btn btn-link text-light">
                                <img src="~/trash.svg" width="20px" height="20px">
                            </button>
                        </form>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>item.IdVm)
                </td>
                <td>
                    <form class="form-inline">
                        <button asp-action="Start" type="submit" class="nav-link btn btn-success text-light">Start</button>
                    </form>
                </td>
                <td>
                    <form class="form-inline">
                        <button asp-action="Stop" type="submit" class="nav-link btn btn-danger text-light">Stop</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
